.mainContainer {
  width: 100%;
  max-width: 480px;
  margin: 20px 0px;
}

.messageInput {
  width: 100%;
  margin-top: 10px;
  resize: none;
}

.chatContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-height: 200px;
  overflow: auto;
}

.chatItemContainer {
  text-align: left;
}

.userInfo {
  text-align: left;
  font-family: emoji;
}

.chatMessage {
  text-align: left;
  margin-left: 10px;
}

.sendButton {
  margin-top: 5px;
  cusor: pointer;
}
