.mainContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  min-height: 300px;
  flex-direction: column;
}

.button {
  margin-top: 20px;
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 35px;
  border: 1px solid #cccc;
  border-radius: 4px;
}

.formLabel {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 6px 0px;
}

.formInput {
  width: 180px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 80px);
  height: 40px;
  margin: 0px 40px;
}

.headerContainer > div {
  display: flex;
  align-items: center;
}

.headerContainer a {
  cursor: pointer;
}

.headerContainer a:hover {
  opacity: 0.5;
}

.greenCircle {
  width: 15px;
  height: 15px;
  background-color: #338013;
  margin: 2px 5px 0px 0px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.redCircle {
  width: 15px;
  height: 15px;
  background-color: red;
  margin: 2px 5px 0px 0px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.statusContainer {
  display: flex;
}
